<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>KDU Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body style="background-color:#4d4655;">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"> <b>KDU Student Management System</b></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class = "container">
	
		<div class = "row">
		
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<br>
				
				<h1 class = "text-center"> <b> GENERAL SIR JOHN KOTELAWALA DEFENCE UNIVERSITY</b></h1>
								<h2 class = "text-center"> <b><i>Student Management System</i></b></h2>
				
				
				<br>
				
				<div class = "card-body">
					<form th:action="@{/students/{id} (id=${student.id})}" th:object = "${student}" method="POST">
						
									<img src="logout.jfif" class="center">
									
									<br>
									<br>
				
				<div class = "box-footer">
							<button type="logout" class = "btn btn-primary">
								<b>Logout</b>
							</button>
						
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>